# Ignore object files
*.o

# Ignore executables
*
!service/
!repository/
!tests/
!ui/
!*.c
!*.h
!*.md
!*.txt
!Makefile
!*.json
!*.yml
!*.xml
!*.csv
!*.py
!*.js
!*.html
!*.css
!*.scss
!*.sass
!*.less
!*.java
!*.go
!*.rs
!*.sh
!*.bat
!*.ps1
!*.Makefile
!*.Dockerfile
!*.gitignore
!*.gitattributes
!*.editorconfig
!*.prettierrc
!*.eslintrc
!*.jshintrc
!*.stylelintrc
!*.babelrc
!*.postcssrc
!*.svg
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.ico
!*.webp
!*.tiff
!*.bmp
!*.ai
!*.psd
!*.eps
!*.pdf
!*.doc
!*.docx
!*.xls
!*.xlsx
!*.ppt
!*.pptx
!*.odt
!*.ods
!*.odp
!*.zip
!*.tar
!*.gz
!*.rar
!*.7z
!*.ttf
!*.otf
!*.eot
!*.woff
!*.woff2